<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>桃谷支付系统</title>
</head>
<body>
	<div id="content">
		<form th:action="@{/test/alipayPay}" method="post">
			<div>
				<label> 订单名称 : <input type="text" name="orderName" />
				</label>
			</div>
			<div>
				<label> 订单描述 : <input type="text" name="orderDesc" />
				</label>
			</div>
			<div>
				<label> 订单金额 : <input type="number" name="orderMoney"
					placeholder="单位：分" />
				</label>
			</div>

			<div>
				<input type="submit" class="btn btn-sm" value="下单" />
			</div>
		</form>
	</div>

</body>
</html>