<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>桃谷支付系统</title>
</head>
<body>
	<div id="content">
		<form th:action="@{/login}" method="post">
			<p th:text="${session.nick}" th:unless="${session == null}">[...]</p>
			<p th:text="${param.nick}" th:unless="${param.nick== null}">Test</p>
			<div>
				<label> 用户名 : <input type="text" name="username" />
				</label>
			</div>
			<div>
				<label> 密 码 : <input type="password" name="password" />
				</label>
			</div>

			<div>
				<input type="submit" class="btn btn-sm" value="登录" />
			</div>
		</form>
	</div>

</body>
</html>