<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>桃谷支付系统</title>
</head>
<body>
	<div id="content">
		<div class="panel panel-default">
			<div class="panel-heading">渠道列表</div>
			<div class="panel-body">
				<div th:each="c : ${channels}">
					<label th:text="${c}"></label> <a class="pull-right" th:href="${c}">开通</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>