<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>桃谷支付系统</title>
</head>
<body>
	<div id="head">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<a class="navbar-brand" href="#"><font size="5">桃谷支付</font></a>
				</div>

				<div th:if="${session.user==null}">
					<ul class="nav navbar-nav navbar navbar-right">
						<li><a href="/user/loginView">登录</a></li>
						<li><a href="/user/registerView">注册</a></li>
					</ul>
				</div>

				<div class="collapse navbar-collapse" th:if="${session.user!=null}"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false"><label th:text="${session.user.nick}"></label><span
								class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">修改密码</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="/user/logout">退出登录</a></li>
							</ul></li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	</div>
</body>
</html>